<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="32000">
    <setting id="enabled" type="bool" label="32001" default="true"/>
    <setting id="shield_exit_workaround" type="bool" label="32014" default="false"/>
    <setting id="host" type="text" label="32002" default="127.0.0.1"/>
    <setting id="port" type="integer" label="32003" default="8765"/>
    <setting id="allow_lan" type="bool" label="32004" default="false"/>
    <setting id="write_enabled" type="bool" label="32005" default="false"/>
    <setting id="auth_token" type="text" label="32006" default="" option="hidden"/>
    <setting id="log_level" type="enum" label="32007" default="info" values="info|debug"/>
    <setting id="backup_retention" type="integer" label="32008" default="20"/>
    <setting id="show_advanced_settings" type="bool" label="32009" default="false"/>
    <setting id="allowed_addons_csv" type="text" label="32011" default=""/>
    <setting id="stack_mode" type="enum" label="32012" default="bingie_stack" values="bingie_stack|generic"/>
    <setting id="widget_cache_auto" type="bool" label="32015" default="false"/>
    <setting id="delete_installer_result_after_first_login" type="bool" label="32013" default="false"/>
  </category>
</settings>
